# .dockerignore
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.gitignore
.DS_Store


# Exclude files with special characters
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_1080p_1440p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_1080p_2160p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_1080p_360p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_1080p_480p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_1080p_720p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_1440p_1080p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_1440p_2160p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_1440p_480p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_1440p_720p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_2160p_1080p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_2160p_1440p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_2160p_720p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_240p_360p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_240p_480p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_240p_720p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_360p_1080p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_360p_240p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_360p_480p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_360p_720p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_480p_1080p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_480p_1440p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_480p_240p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_480p_360p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_480p_720p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_720p_1080p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_720p_1440p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_720p_2160p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_720p_240p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_720p_360p.xgb
venv/Lib/site-packages/agh_vqis/models/resolution_cast/model_Exposure(bri)_720p_480p.xgb
venv/Lib/site-packages/av.libs/libstdc++-6-056095c89789a85456c32a6a309789e0.dll
venv/Lib/site-packages/pytz/zoneinfo/GMT+0
venv/Lib/site-packages/pytz/zoneinfo/Etc/GMT+0
venv/Lib/site-packages/pytz/zoneinfo/Etc/GMT+1
venv/Lib/site-packages/pytz/zoneinfo/Etc/GMT+10
venv/Lib/site-packages/pytz/zoneinfo/Etc/GMT+11
venv/Lib/site-packages/pytz/zoneinfo/Etc/GMT+12
venv/Lib/site-packages/pytz/zoneinfo/Etc/GMT+2
venv/Lib/site-packages/pytz/zoneinfo/Etc/GMT+3
venv/Lib/site-packages/pytz/zoneinfo/Etc/GMT+4
venv/Lib/site-packages/pytz/zoneinfo/Etc/GMT+5
venv/Lib/site-packages/pytz/zoneinfo/Etc/GMT+6
venv/Lib/site-packages/pytz/zoneinfo/Etc/GMT+7
venv/Lib/site-packages/pytz/zoneinfo/Etc/GMT+8
venv/Lib/site-packages/pytz/zoneinfo/Etc/GMT+9
venv/Lib/site-packages/scipy/io/tests/data/Transparent Busy.ani
venv/Lib/site-packages/setuptools/script (dev).tmpl
venv/Lib/site-packages/setuptools/command/launcher manifest.xml
venv/Lib/site-packages/tzdata/zoneinfo/GMT+0
venv/Lib/site-packages/tzdata/zoneinfo/Etc/GMT+0
venv/Lib/site-packages/tzdata/zoneinfo/Etc/GMT+1
venv/Lib/site-packages/tzdata/zoneinfo/Etc/GMT+10
venv/Lib/site-packages/tzdata/zoneinfo/Etc/GMT+11
venv/Lib/site-packages/tzdata/zoneinfo/Etc/GMT+12
venv/Lib/site-packages/tzdata/zoneinfo/Etc/GMT+2
venv/Lib/site-packages/tzdata/zoneinfo/Etc/GMT+3
venv/Lib/site-packages/tzdata/zoneinfo/Etc/GMT+4
venv/Lib/site-packages/tzdata/zoneinfo/Etc/GMT+5
venv/Lib/site-packages/tzdata/zoneinfo/Etc/GMT+6
venv/Lib/site-packages/tzdata/zoneinfo/Etc/GMT+7
venv/Lib/site-packages/tzdata/zoneinfo/Etc/GMT+8
venv/Lib/site-packages/tzdata/zoneinfo/Etc/GMT+9