<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Upload Picture</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

    <br>
    <a href="{% url 'archive' %}">Go to Archive</a>
    <br>
    {% if user.is_authenticated %}
        <a href="{% url 'account_logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'account_login' %}">Sign In</a>
        <br>
        <a href="{% url 'account_signup' %}">Sign Up</a>
    {% endif %}
</body>
</html>